
// Fonts
//@import 'node_modules/roboto-slab-fontface-kit/sass/roboto_slab.scss';
// @import 'node_modules/roboto-slab-fontface-kit/sass/_mixins.scss';
// @import 'node_modules/roboto-slab-fontface-kit/sass/_Bold.scss';
// @import 'node_modules/roboto-slab-fontface-kit/sass/_Light.scss';
// @import 'node_modules/roboto-slab-fontface-kit/sass/_Regular.scss';
// @import 'node_modules/roboto-slab-fontface-kit/sass/_Thin.scss';
// @import 'node_modules/roboto-slab-fontface-kit/sass/_variables.scss';
//@import 'node_modules/pstpn-webfont-montserrat/montserrat.scss';

// Variables
//@import "variables";
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import 'node_modules/font-awesome/scss/font-awesome.scss';
// Bootstrap
@import "~bootstrap/scss/bootstrap";


.dataTables_scroll {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

////SITE WIDE STYLE////

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
  
    .ui-menu-item > a.ui-corner-all {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #555555;
      white-space: nowrap;
  
      &.ui-state-hover, &.ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
      }
    }
  }
  

* {
    box-sizing:border-box !important;
  }

  input[type=search] {
      width: 100% !important;
      margin: 0.8rem 0 0.3rem 0;
      padding: 0.4rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
  }

  thead {
      background-color: #ddd;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    //height: 95px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  .footer .logo-small {
    margin: 1em;
    display: inline-block;
    max-height: 60px;
  }

  @media only screen and (max-width : 991px) {
    .footer .logo-small {
        margin: 1em;
        display: inline-block;
        max-height: 60px;
        text-align: center;
        margin: auto;
        width: 100%;
    }

    #footer_info_container {
        text-align: center !important;
        float: none !important;
    }

    }



  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
body, html {
    opacity: 1;
    transition: 1s opacity;
}

  html {
      min-height: 100%;
      position: relative;
  }
  body {
  /*  font-family: 'Helvetica Neue', Arial, sans-serif;*/
      font-family: 'Roboto Slab', serif;
      margin: 0;
      padding: 0;
      min-height: 720px;
      height: inherit !important;
      max-height: auto !important;
      margin-bottom: 105px; /* Margin bottom by footer height */      
  }

  body.dofade {
    opacity: 0;
    transition: none;
}

  .homeBG {
  min-height: 720px;
  height: inherit !important;
  max-height: auto !important;
  background-image: url(/images/home-title.jpg);
  background-position: center;
  background-position-y: 64px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;    
  }

  #container {
      width: 100%;
      color: #363636;
      font-weight: 200;
      position: relative;
      padding: 0;
      margin: 0;
  }
  
  #container.page-content {
    padding:2em;
  }
  
  .page-content {
    padding-top:4em;
  }
  
  #backend_container {
      margin: 0 auto;
      /*		width: 95%;
  */		
  /*  min-width: 1100px;*/
      color: #363636;
      font-weight: 200;
      min-height: 100%;
      position: relative;
      border-left: 1px solid #f5f5f5;
      border-right: 1px solid #f5f5f5;
      font-family: 'Roboto Slab', serif;
  }
  #backend_content_wrapper {
      overflow-y: hidden;
    overflow-x: scroll;
    padding:0px 0 0 0;
      min-height: 74vh;
    width:100%;
  }
  
  #content_wrapper {
  /*  padding-top: 71px;*/
  }
  #content {
      padding-bottom: 100px;
      overflow: hidden;
    overflow-x: scroll;
      min-height: 425px;
    min-height:78vh;
  }
  .content {
      overflow: hidden;
    overflow-x: scroll;
      width: 100%;
      padding: 0;
    min-height:80vh;
  }
  footer {
      border-top: 1px solid #d7d7d7;
      background: #f5f5f5;
      width: 100%;
      margin: 0;
      padding: 5px;
  }
  footer a {
      text-decoration: underline;
  }
  h2 {
      font-size: 1.5em;
      color: #444;
  }
  h3 {
      font-size: 1.3em;
  }
  a {
      color: #395e73;
  }
  a:hover {
      color: #666666;
  }
  #logo {
      background: url("/assets/images/header-logo.svg") no-repeat left top;
      width: 26px;
      height: 56px;
      float: left;
    background-size:100% auto;
      margin: 10px 0 0 15px;
  }
  #header_wrapper {
  /*  position: fixed;*/
      width: 100%;
      z-index: 1001;
  /*  min-width: 950px;*/
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
  }
  header {
      height: 70px;
      padding: 0;
      border-bottom: 1px solid #d7d7d7;
      background: #f5f5f5;
      width: 100%;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      color: #3d3d3d;
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
  }
  .header_title {
      margin: 0 0 0 20px;
      padding-top: 15px;
      width: 600px;
      position: relative;
      top: 16px;
      display: inline;
      font-size: 30px;
  }
  .header_highlighted_links {
      color: #37526b !important;
      text-decoration: underline !important;
  }
  #logged_header {
      margin: 20px 60px 15px 10px;
      float: right;
      font-weight: bold;
      font-size: .9em;
  }
  #headerLinks {
      margin: 0 0 0 20px;
      background: none;
      font-weight: bold;
      float: left;
      height: 100%;
  }
  #headerLinks li {
      display: inline-block;
      color: #999999;
      border: none;
      padding: 25px 10px 0 10px;
      height: 100%;
      margin: 0 10px;
  }
  #headerLinks a {
      text-decoration: none;
      font-size: .9em;
  }
  .header_active {
      background-color: #731417;
  }
  .header_active a {
      color: #FFFFFF;
  }
  nav {
      
      clear: right;
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
 }

 

 @media only screen and (min-width : 992px) {
    .rightnav {
        position:absolute;
        left: 80px;
        z-index: 9999;
        width: 100%;
        background: white;
    }

    .navtextright1 {
        position: absolute; right: 250px
    }

    .navtextright2 {
        position: absolute; right: 170px
    }   

    .navtextright3 {
        position: absolute; right: 110px;
    }

    .navtextright4 {
        position: absolute; right: 194px;
    }

    }
 

 .btn-gch-blue {
    color: #395e73;
    background-color: #395e73;
    background-image: none;
    border-color: #395e73;
 }

 .btn-gch-blue a {
     color:white;
 }

 .btn-gch-login {
    color: white !important;
    background-color: #AC2430 !important;
    border-color: #AC2430 !important;  
 }

 .btn-gch-login :hover {
    background-color: white;
    color: #AC2430;
 }   
 .btn-gch-light-blue a {
     color: white;
 }
  .userMenu {
      margin-left: -17px;
  }
  nav a {
      text-decoration: none;
  }
 
  .clear {
      clear: both;
  }
  /*#newuser {
      float:left;
      position: relative;
      top: 20px;
  }
  */
  
  .well p {
      color: #FF0000;
  }
    
  
  
  
  #location-map {
   width:100%;
   height:100vh;
  }
  
  
  
  
  /* responsive overrides for weird paragraph width things */
  
  @media (min-width: 728px) {
    #about_us_container p,
    #orders_container p,
    #orders_container ul,
    #orders_list_container,
    #contact_form_container p,
    #faq_container,
    #location_container {
        width: 600px;
        margin: 40px auto;    
    }
    
    #location-map {
      width:1000px;
      height:450px;     
    }
  }
  
  
  
  /** FOOTER **/
  footer {
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      box-sizing: border-box;
  }
  
  #footer_info_container {
    padding:10px 2em;
      line-height: 25px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
    text-align:center;
  }
  
  
  @media (min-width: 728px) {
    #footer_info_container {
        float: right;
        text-align: right;
        margin-right: 20px;
        padding: 10px 10px 10px 0;
    }
  }
  /*************/
  
  
  
  /*** BACKEND GLOBAL ***/
  
  label input {
      margin-left: 15px;
  }
  /*.admin_active {
      background: url('/assets/images/admin_nav_arrow.png') center bottom no-repeat;
      height: 70px;
      font-weight: bold;
  }
  */
  .admin_active {
      font-weight: bold;
      position: relative;
  }
  .admin_active:before {
      content: '';
      width: 15px;
      height: 15px;
      background: white;
      border-left: solid 1px #ccc;
      border-bottom: solid 1px #ccc;
      position: absolute;
      bottom: -8px;
      left: calc(50% - 7px);
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
  }
  
  .admin_active:hover:before {
    background:#eee;
  }
  
  .admin-nav {
      border-bottom: 1px solid #ccc;
    margin-bottom:1em;
  /*  height: 35px;*/
  /*  margin: 0;
    padding: 0;
  */}
  .admin-nav .nav {
      margin: 0;
      padding: 0;
  }
  
  
  .dashboard_container {
    padding:1em 1em 3em 1em;
  }
  
  .new_button_right {
  /*  float: right;
    position: relative;
    top: 20px !important;
  */
    }
  .dashboard_new_order_button {
  /*  float: right;
    position: relative;
    top: 10px !important;
  */}
  .controls a {
      text-decoration: underline;
  }
  /**********************/
  
  /* DASHBOARD */
  
  .dashboard-title {
    font-weight:bold;
    margin-top:0;
  }
  
  .dashboard_container table {
      margin-top: 10px;
  }
  
  .dashboard_headers {
  /*  float: left;*/
      margin: 0;
        padding: 0;
  }
  .dashboard_header_short {
  /*  width: 72% !important;*/
  }
  .dashboard_button {/*	float: left;
      margin: 0 10px 0 0*/
      top: 10px !important;
  }
  
  /*#dashboard_patients_container input, #dashboard_formulas_container input {
      width: 80% !important;
  }*/
  /*********************/
  
  /** ORDER FORM **/
  
  .link_icon {
      position: relative;
      top: -2px;
  }
  #order_form_breadcrumb {
  /*  margin: 15px 0 0 -25px;*/
      /*	width: 925px;
  */	height: 42px;
  /*  overflow: hidden;*/  
  }
  
  /* inglorious hack */
  @media (max-width: 600px) {
    #order_form_breadcrumb {
      width:925px;
    }
  }
  
  #order_form_breadcrumb ul {
    padding:0;
  }
  
  .order_form_breadcrumb_item {
      float: left;
  /*  width: 170px;*/
    width: auto;
      list-style-type: none;
      text-align: center;
      padding: 10px;
      margin: 0;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
  }
  .order_form_breadcrumb_arrow {
      background: url('/assets/images/white_arrow.png') no-repeat center right;
      padding: 10px 0 10px 0;
      float: left;
      list-style-type: none;
      height: 3em !important;
      width: 15px;
      margin: 0;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
  }
  .order_form_breadcrumb_arrow_last {
      border: none;
      width: 12px;
      height: 22px;
  }
  .order_form_breadcrumb_active {
      background-color: #f7f8f9;
  }
  .order_form_breadcrumb_arrow_active {
      background: url('/assets/images/grey_arrow.png') no-repeat center right #f7f8f9;
  }
  .order_form_breadcrumb_arrow_completed {
      background: url('/assets/images/white_arrow.png') no-repeat center right #FFF;
      cursor: pointer;
    padding-left: 2em;
  }
  .order_form_breadcrumb_completed, .order_form_breadcrumb_previous  {
      background: url('/assets/images/blue_checkmark.png') no-repeat 5% 50% #FFF;
      background-size: 16px;
      cursor: pointer;
    padding-left: 2em;
  }
  
  .order_form_breadcrumb_arrow_previous {
      background: url('/assets/images/white_on_grey_arrow.png') no-repeat center right #FFF;
  }
  .order_form_container {
      display: none;
    max-width:700px;
  }
  .order_navigation_warning {
      margin: 10px 0 10px 0;
      font-size: 10pt;
  }
  #order_patient_container {
      display: block;
      width: 700px;
  }
  #order_patient_breadcrumb {
      border-left: 1px solid #ccc;
  }
  #special_instructions {
      height: 85px;
  }
  #order_review_container {
    padding:2em;
    display:none;
  }
  #order_review_formula_container {
    padding:2em;
    display:none;
  }
  #shipping_other_address_container {
      display: none;
      height: 210px;
      width: 400px;
  }
  #shipping_other_address_container input {
      display: inline;
      float: right;
  }
  #shipping_other_address_container label {
      display: inline;
      width: 50px;
      position: relative;
      top: 10px;
  }
  #shipping_other_address_container br {
      clear: both;
  }
  .order_validation_message_container {
      display: none;
      margin-left: 250px;
      background: #e3d0d1 url('/assets/images/validation-icon.png') no-repeat;
      background-position: 5% 50%;
      color: #721417;
      width: 200px;
      padding: 10px 10px 10px 40px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
  }
  /*********************/
  
  /**** ORDERS MAIN PAGE *******/
  
  
  #order_main_filters {
      position: relative;
      z-index: 1000;
      margin: 0;
      padding: 0;
  }
  #order_main_filters input {
      position: relative;
      top: 5px;
      margin: 0 5px 0 10px;
      float: left;
  }
  #order_main_filters label {
      font-weight: 12px;
      float: left;
  }
  #orders-table {
      overflow: hidden;
  }
  /*********************/
  
  /**** ORDERS VIEW PAGE *******/
  
  #order_view_left {
      float: left;
      width: 350px;
      line-height: 28px;
  }
  #order_view_left a {
      text-decoration: underline;
  }
  
  #order_view_right {
      float: left;
      width: 600px;
      margin-left: 10px;
  }
  /*********************/
  
  /*** FORMULA BUILDER ***/
  
  #build_formula_container {
  /*  width: 520px;*/
  }
  #formula_builder_left {
  /*  width: 480px;*/
  /*  float: left;*/
  }
  #formula_builder_right {
  /*  width: 480px;
    float: left;
    padding: 110px 0 0 50px;
  */}
  #formula-table {
  /*  width: 600px;*/
  }
  #formula-table td, #formula-table th {
      border: none;
  }
  .formula_cancel_link {
  /*  margin: 10px 10px 0 0;*/
  }
  #formula-view-table td, #formula-view-table th {
      border: 1px solid #CCC;
  }
  .edit_formula_button {
      position: relative;
      float:right;
      /* top: 10px !important; */
      /* left: 10px !important; */
  }
  .order_formula_button {
      float: right;
      position: relative;
      top: 10px !important;
  }
  
  #formula_summary_container table {
      font-size: 0.9em;
  }
  
  .add-product {
  /*  float: right;*/
  /*  position: relative;
    top: 10px !important;
    left: 10px !important;
  */
    }
  
  .ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  }
  
  /*********************/
  
  /*********************/
  
  /*** PATIENT VIEW PAGE ***/
  
  #patient_view_upper h2 {
      display: inline;
  }
  #patient_view_upper {
      width: 400px;
      margin-top: 20px;
  }
  #patient_view_lower {
      width: 800px;
  }
  
  .delete_link {
  /*  color: #FF0000;*/
  }
  /*********************/
  
  /*** PATIENT ADD PAGE ***/
  
  #new_patient_form_container {
  }
  /*********************/
  
  .userMenu li:last-child, .basicMenu li:last-child {
      border-right: none;
  }
  .basicMenu li:first-child {
      font-weight: bold;
  }
  .buttonset {
      margin: 20px 0;
  }
  .buttonPrimary {
      font-size: 15px !important;
      border-radius: 3px;
      padding: 8px 10px;
      margin: 10px 0;
      text-shadow: 0 0 1px #fff;
      font: inherit;
      font-weight: inherit;
      border: solid 1px #999999;
      background: #eeeeee;
      /* Old browsers */
  
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
      /* FF3.6+ */
  
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
      /* Chrome,Safari4+ */
  
      background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
      /* Chrome10+,Safari5.1+ */
  
      background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
      /* Opera 11.10+ */
  
      background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
      /* IE10+ */
  
      background: linear-gradient(top, #eeeeee 0%, #cccccc 100%);
      /* W3C */
  
      filter: progid:dximagetransform.microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  /* IE6-8 */
  
  }
  .buttonPrimary:hover {
      color: #666666;
  }
  .buttonSecondary {
      display: inline-block;
      margin-left: 5px;
      font-size: .9em;
      text-decoration: underline;
  }
  .slate {
      box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.15);
      background: #f5f5f5;
      padding: 15px;
      border-radius: 5px;
  }
  /* @group Form Elements */
  /*#userInfo {
      float: left;
      padding-right: 40px;
  }*/
  legend {
      padding-bottom: 10px;
  }
  span.error, p.error, label.error {
      color: white;
      background: red;
      font-size: 12px;
      padding: 3px 5px;
      display: inline-block;
      width: 218px;
      line-height: 1.4em;
  }
  label.error.checked {
      padding: 0;
      margin: 0;
      background: none;
      line-height: 0;
      width: 0;
      height: 0;
  }
  label {
      font-size: 15px;
  }
  form div {
      padding-bottom: 10px;
  }
  textarea, input[type="text"], input[type="password"], input[type="tel"], select {
      display: block;
  }
  .required {
      font-weight: 400;
  }
  #loginForm input[type="text"], #loginForm input[type="password"] {
      color: #666666;
      font-size: 16px;
      margin: 2px 0 15px;
      outline: medium none;
      padding: 5px 3px;
      width: 250px;
  }
  #siteLogin, #patient-info {
  /*  width: 300px;*/
      margin: 50px 0 0 0 ;
  }
  #siteLogin {
      margin-bottom: 40px;
  }
  #patient-info a {
      text-decoration: underline;
  }
  #registerLink {
      font-size: 14px;
  }
  .registerLink {
      font-weight: bold;
      color: #eb1b3f;
  }
  #uploadCSV, #addHerb, #editHerb {
      width: 300px;
      margin: 0 auto;
  }
  #refill {
      width: 400px;
      margin: 0 auto;
  }
  #refill input, #refill select {
      width: 200px;
      margin-bottom: 20px;
  }
  #refill input[type="radio"] {
      width: 15px;
      font-size: 14px;
      margin-bottom: 5px;
  }
  .note {
      font-size: .8em;
      display: block;
  }
  #confirmOrder {
      width: 600px;
      margin: 0 auto;
  }
  #confirmOrder div {
      margin-bottom: 20px;
  }
  #confirmOrder h4 {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-top: 10px;
      margin-bottom: 5px;
      border-bottom: solid 1px #D0D0D0;
      padding-bottom: 5px;
  }
  #confirmOrder th {
      text-align: left;
      width: 133px;
      font-weight: normal;
      color: #999999;
  }
  #submitFormula {
      margin: 40px 0;
      height: 20px;
  }
  /* @end */
  /* @group Data Tables Overrides */
  /*.dataTables_filter input, .dataTables_length select {
      display: inline;
  }
  .dataTables_filter, .dataTables_length {
      height: 22px;
      padding: 10px;
  }*/
  
 

  .dataTables_filter label {
      width: 100% !important;
  }
  
  .dataTables_info, .dataTables_paginate {
  /*    height: 25px;
      line-height: 25px;
      padding: 10px;*/
  }

  .paging_numbers {
      float: right !important;
      margin-top: 20px;
        margin-bottom: 60px;
  }
  .paginate_button {
      margin: 5px;
      cursor: pointer;
      background: grey;
      color: white;
      font-size: 1.2rem;
      padding: 5px 10px;
  }
  .paginate_button.disabled {
      color: #999;
      cursor: default;
  }
  table td input[type="text"] {
      display: table-cell;
  }
  .action {
      padding: 0 !important;
      width: 15px;
  }
  .nohead {
      width: auto !important;
      padding: 0 !important;
  }
 
  .paging_full_numbers span.paginate_button {
      background: white;
  }
  .paging_full_numbers span.paginate_button:hover {
      background: #e0e0e0;
  }
  .paging_full_numbers span.paginate_active {
      background-color: #999999 !important;
      color: white;
  }
  /* @end */
  /* @group View Herbs */
  .editHerb, .editUserLink {
      display: block;
      width: 16px;
      height: 16px;
      text-indent: -9999px;
      background: url('/images/sprites.png') no-repeat -59px -2px;
  }
  .deleteHerb, .deleteUser {
      display: block;
      margin-left: 5px;
      width: 16px;
      height: 16px;
      text-indent: -9999px;
      background: url('/images/sprites.png') no-repeat -84px -2px;
  }
  #deleteHerb {
      width: 300px;
      margin: 40px auto;
  }
  #delete-user {
      padding: 10px;
      padding-bottom: 20px;
      width: 500px;
      margin: 0 auto;
  }
  /* @end */
  /* @group Create Formula */
  #herbOrder {
      width: auto;
  }
  .instructions {
      margin-bottom: 20px;
  }
  .instructions #hide {
      text-decoration: underline;
  }
  .instructions #hide:hover {
      color: #000000;
      cursor: pointer;
  }
  .instructions ol {
      margin-left: 20px;
      display: none;
  }
  .instructions li {
      list-style: decimal;
  }
  .orderTable th {
      text-align: left;
      font-weight: 500;
  }
  .orderTable tr {
      height: 30px;
  }
  .removerow {
      display: block;
      margin-left: 5px;
      width: 16px;
      height: 16px;
      text-indent: -9999px;
      background: url('/images/sprites.png') no-repeat -104px -4px;
  }
  .removerow:hover {
      background-position: -124px -4px;
  }
  tr.validationIssue {
      border: #c21130 solid 2px;
  }
  tr.validationIssue .quantity input {
      background-color: #ed3253;
      display: inline-block;
  }
  .orderTable tr.header {
      height: 25px;
  }
  .orderTable th {
      font-weight: normal;
      font-size: 14px;
  }
  .brand select {
      width: 120px;
  }
  .subtotalRow td {
      text-align: right;
  }
  .practitionerDiscount select {
      position: relative;
      right: 0;
  }
  .addRow.buttonPrimary:hover {
      cursor: pointer;
  }
  /* @end */
  #newherb {
      margin-bottom: 20px;
      height: 29px;
      line-height: 25px;
  }
  /*#newuser a {
      border: solid @drkgray 2px;
      padding: 5px 10px;
      background: @drkgray;
      color: white;
  }*/
  .message {
      position: relative;
      background: #9F9;
      padding: 10px;
      min-height: 18px;
      width: 600px;
      margin: 0 auto 20px;
  }
  .message .close {
      background: transparent url('/images/sprites.png') no-repeat -104px -4px;
      width: 16px;
      height: 16px;
      text-indent: -9999px;
      margin-top: -14px;
      position: absolute;
      right: 10px;
      top: 20px;
  }
  .message .close:hover {
      background-position-x: -124px;
      cursor: pointer;
  }
  .message p {
      width: 550px;
      margin-bottom: 10px;
  }
  /* @group jQueryUI Overrides */
  .ui-widget {
      font-size: .9em !important;
      font-family: 'Helvetica Neue', Arial, sans-serif !important;
  }
  .ui-state-hover {
      background: #e0e0e0 !important;
  }
  /* @end */
  .help {
      font-size: 13px;
      margin-bottom: 10px;
      background-color: #D9EDF7;
      border: 1px solid #BCE8F1;
      border-radius: 3px;
      padding: 5px;
      margin-top: 5px;
      width: 287px;
  }
  #id-help {
      margin-bottom: 0;
  }
  #input-formulaID {
      margin-bottom: 0 !important;
      display: inline;
      width: 100px !important;
  }
  #refill-type {
      margin-bottom: 10px;
  }
  strong {
      font-weight: bold;
  }
  select.error {
      background: #ed3253;
      color: white;
  }
  /*404*/
  #content.error {
      width: 282px;
      margin: 0 auto;
  }
  .error h1 {
      font-size: 8em;
      font-family: 'IM Fell English', serif;
      color: #c21130;
      text-align: center;
  }
  .error h2 {
      text-align: center;
  }
  /** Formula Builder **/
  
  .input-xxxlarge {
      width: 350px;
  }
  .w200 {
      width: 200px;
  }
  ul.address li {
      list-style: none;
  }
  
